body{
  font-family:verdana;
  display:flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#img{
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: 6px solid sienna;
}
img{
  border: 6px solid sienna;
  max-width: auto;
  height: auto;
  width:"200";
  height:"200";
}
.box{
  text-align: left;
}
h1 {
  color: #F54927;
  font-size: 27px;
}
h2 {
  color: #F54927;
  font-size: 22px;
}
p {
  color: black;
  font-size: 17px;
}
