body{
  font-family:verdana;
  display:flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#img{
  text-align: center;
  background: 6px solid sienna;
  h1 {
  color: #F54927;
  font-size: 20px;
  }
h2 {
  color: #F54927;
  font-size: 17px;
}
p {
  color: black;
  font-size: 5px;
}
}
img{
  border: 6px solid sienna;
  width:"200";
  height:"200";
}
h1 {
  color: #F54927;
  font-size: 27px;
}
h2 {
  color: #F54927;
  font-size: 22px;
}
p {
  color: black;
  font-size: 17px;
}
